{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <form  method="get">
            <input name="filter"  type="text" class="st2-search-field" placeholder="Search">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
<center>
    <h1>Sujets list</h1>

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-sm-9">Nomsujet</th>
                <th class="col-sm-3">Description</th>
                <th>Categorie</th>
                <th>Datepub</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sujet in sujets %}

                 <td>{{ sujet.nomSujet }}</td>
                <td>{{ sujet.description }}</td>
                <td>{{ sujet.categorie }}</td>
                <td>{{ sujet.datepub|date('Y-m-d\\TH:i:sP')}}</td>
                <td>

                    {% if app.user.id == sujet.iduser.id %}
                        <a href="{{ path('commentaire_index', { 'sujet': sujet.id }) }}" class="btn btn-info">Voir les commentaire</a>
                        <a href="{{ path('sujet_edit', { 'id': sujet.id }) }}"><button type="button" class="btn btn-sm btn-font-danger">Edit</button></a>
                        <a href="{{ path('sujet_delete', { 'id': sujet.id }) }}"><button type="button" class="btn btn-sm btn-dark">Supprimer</button></a>
                    {% else %}
                        <a href="{{ path('commentaire_index', { 'sujet': sujet.id }) }}" class="btn btn-info">Voir les commentaire</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(sujets) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('sujet_new') }}">Create a new sujet</a>
        </li>
    </ul>
</center>>

{% endblock %}
