{% extends 'front.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-5">
            <h1>Reclamations list</h1>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Objet</th>
                    <th scope="col">Contenue</th>
                    <th scope="col">Daterecla</th>
                    <th scope="col">Etatrecla</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="thead-light">
                {% for reclamation in reclamations %}
                    <tr>
                        <th scope="row">{{ reclamation.id }}</th>
                        <td>{{ reclamation.objet }}</td>
                        <td>{{ reclamation.contenue }}</td>
                        <td>{% if reclamation.dateRecla %}{{ reclamation.dateRecla|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ reclamation.etatRecla }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a class="badge badge-success" href="{{ path('front_client_show', { 'id': reclamation.id }) }}">show</a>
                                </li>
                                <li>
                                    <a class="badge badge-danger" href="{{ path('front_client_edit', { 'id': reclamation.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a class="btn btn-primary" href="{{ path('front_client_new') }}">Create a new reclamation</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}