{% extends 'front.html.twig' %}

{% block content %}

    <h1>Reclamation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ reclamation.objet }}</td>
            </tr>
            <tr>
                <th>Contenue</th>
                <td>{{ reclamation.contenue }}</td>
            </tr>
            <tr>
                <th>Daterecla</th>
                <td>{% if reclamation.dateRecla %}{{ reclamation.dateRecla|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Etatrecla</th>
                <td>{{ reclamation.etatRecla }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('front_client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('front_client_edit', { 'id': reclamation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
