{% extends 'back.html.twig' %}

{% block content %}




    <div class="col-lg-6">
        <h1>Creation Geste du mois </h1>

        {{ form_start(form,{'attr':{'id':'formp'}}) }}
        <div class="form-group">
            <label for="exampleInputEmail1">Nom Geste</label>
            {{ form_widget(form.nomGeste, {'attr': {'class': 'form-control','aria-describedby':'nom','placeholder':'Enter nom'}}) }}

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mois Du Geste</label>
            {{ form_widget(form.moisGeste, {'attr': {'class': 'form-control','aria-describedby':'type','placeholder':'choisir mois du geste'}}) }}
        </div>
        <div class="form-group" hidden>
            <label for="exampleInputPassword1">Description Geste</label>
            {{ form_widget(form.descGeste, {'attr': {'class': 'form-control','aria-describedby':'description','placeholder':'Entrer description'}}) }}
        </div>
        <div>
            <textarea id="mytextarea" name="mytextarea">Hello, World!</textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Image</label>
            {{ form_widget(form.imageGeste, {'attr': {'class': 'form-control','aria-describedby':'image','placeholder':'Choisir image'}}) }}
        </div>
        <input class="btn btn-sm btn-primary" id="submitBtn" type="submit" value="Create" class="btn btn-primary">Submit</input>
        {{ form_end(form) }}


        <div class="row">
            <div class="col-lg-3">
                <a class="btn btn-sm btn-success" href="{{ path('back_jardinier_geste_index') }}">Back to the list</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector:'#mytextarea',
            plugins : 'advlist autolink link image lists charmap print preview'
        });
        $(document).ready(function () {
            $('#submitBtn').click(function (event) {
                event.preventDefault();
                console.log(tinymce.activeEditor.getContent());
                $('#gestebundle_gestedumois_descGeste').val(tinymce.activeEditor.getContent());
                $("#formp").trigger("submit");
            });
        });
    </script>
{% endblock %}