{% extends 'back.html.twig' %}

{% block content %}
    <h1 align="center">Geste du mois {{ gesteDuMois.moisGeste }}</h1>

    <table border="1" class="table table-light">
        <tbody>
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <td>{{ gesteDuMois.id }}</td>
            </tr>
            <tr>
                <th>Nom geste</th>
                <td>{{ gesteDuMois.nomGeste }}</td>
            </tr>
            <tr>
                <th>Mois geste</th>
                <td>{{ gesteDuMois.moisGeste }}</td>
            </tr>
            <tr>
                <th>Description geste</th>
                <td>{{ gesteDuMois.descGeste }}</td>
            </tr>
            <tr>
                <th>Image geste</th>
                <td><img style="width: 150px" src="{{ asset('uploads/gestes/') }}{{ gesteDuMois.imageGeste }}"></td>
            </tr>
        </thead>
        </tbody>
    </table>
    <div>
            <a href="{{ path('back_jardinier_geste_index') }}" class="btn btn-primary btn-sm">Back to the list</a>

            <a href="{{ path('back_jardinier_geste_edit', { 'id': gesteDuMois.id }) }}"  class="btn btn-primary btn-sm">Edit</a>


            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
