{% extends 'back.html.twig' %}
{% block content %}
    <center>

        <div class="col-md-6" >
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    {{ form_start(edit_form) }}
                    <h3 class="card-title" >Modifier  un offre</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form">
                    <div class="card-body">

                        <div class="form-group">
                            <label for="exampleInputTitre">Pourcentage</label>
                            {{ form_widget(edit_form.pourcentage, { 'attr': {'class': 'form-control' ,'placeholder':'Entrer catégorie','id':'exampleInputTitre'} }) }}

                        </div>
                        <div class="form-group">
                            <label for="exampleInputTitre">Date Debut</label>
                            {{ form_widget(edit_form.dateDebut, { 'attr': {'class': 'form-control' ,'placeholder':'Entrer catégorie','id':'exampleInputTitre'} }) }}

                        </div>
                        <div class="form-group">
                            <label for="exampleInputTitre">Date Fin</label>
                            {{ form_widget(edit_form.dateFin, { 'attr': {'class': 'form-control' ,'placeholder':'Entrer catégorie','id':'exampleInputTitre'} }) }}

                        </div>
                        <div class="form-group">
                            <label for="exampleInputTitre">Titre</label>
                            {{ form_widget(edit_form.titre, { 'attr': {'class': 'form-control' ,'placeholder':'Entrer catégorie','id':'exampleInputTitre'} }) }}

                        </div>
                        <div class="form-group">
                            <label for="exampleInputTitre">Type</label>
                            {{ form_widget(edit_form.type, { 'attr': {'class': 'form-control' ,'placeholder':'Entrer catégorie','id':'exampleInputTitre'} }) }}

                        </div>
                        <div class="form-group">
                            <label for="exampleInputTitre">Products</label>
                            {{ form_widget(edit_form.products, { 'attr': {'class': 'form-control' ,'placeholder':'Entrer catégorie','id':'exampleInputTitre'} }) }}

                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">

                        <input type="submit" value="Edit" class="btn btn-success" />
                        <a href="{{ path('offre_index') }}" class="btn btn-success">Back to the list</a>
                        <input type="submit" value="Delete" class="btn btn-success">
                    </div>
                    {{ form_end(edit_form) }}
                </form>
            </div>


        </div>
    </center>
{% endblock %}
