{% extends 'front.html.twig' %}
{% block css %}

{% endblock %}

{% block content %}



    <section class="slide-wrapper banner-title-header">
        <div class="slide-bg">
            <div class="overlay">
                <div class="st2-banner-content-child-page">
                    <h2 class="banner-child-page-title">Events</h2>
                    <div class="back-link align-items-center">
                        <ul class="back-link-breadcrumb">
                            <li class="breadcrumb-items"><a class="breadcrumb-item-link" href="">Home</a></li>
                            <li class="breadcrumb-items"><a class="breadcrumb-item-link" href="">Events</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="album py-5 bg-light">
    <div class="container">

    <h2 >Search An Event  !!</h2>

    <div class="sidebar-search">

        <div class="input-group custom-search-form">

            <input type="text" id="search" class="form-control" placeholder="Search here">
        </div>
        <!-- /input-group -->
    </div>
    <ul class="nav" id="side-menu">
        <li>
            <a href="#"> Events <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level" id="entitiesNav">
            </ul>
        </li>
    </ul><br><br><br><br>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 3;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('ajax_search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'events') {
                                            if (id !== 'error') {
                                                console.log(value[1]);
                                                let url = "{{ asset('uploads/evenment/') }}"+value[0];
                                                entitySelector.append('<li><b>'+value[1]+'</b><a href="details/'+id+'">'+'<img src="'+url+'" style="width: 150px; height: 100px"/>'+'</a></li>');
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>







    <section class="popular-product product-shoppage-fullwidth padding-section">
        <div class="container">
            <div class="row">
                {% for eve in evenements %}



                    <div class="blog-new-v1-box">
                        <div class="row">
                            <div class="col-md-12 col-lg-7 cl-md-w2-12">
                                <div class="blog-new-v1-thumb">
                                    <a href="#"><img src="{{ asset('uploads/evenment/'~eve.image )  }}" width="550px" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-5 cl-md-w2-12">
                                <div class="blog-new-v1-info">
                                    <div class="info-author d-flex">

                                        <h2 class="author-name d-flex align-items-center"></h2>
                                    </div>

                                    <div class="blog-meta">
                                        <span class="blog-datetime"><i class="blog-icon lnr lnr-calendar-full"></i>{{ eve.datedebut|date("d-m-Y H:i") }}</span>
                                        <br>
                                        <span class="blog-comment"> <i class="blog-icon "></i> {{ eve.nbrParticipants }}  Participants</span>
                                    </div>
                                    <h2 class="blog-title">
                                        <h1 class="blog-title-link">{{ eve.nom|upper }}</h1>
                                        <a href="{{ path('detailed_post', { 'id': eve.id }) }}" class="blog-title-link">{{ eve.nom|upper }}.</a>
                                    </h2>
                                    <div class="blog-content">
                                        Caring for your fiddle leaf fig can be complex and overwhelming
                                    </div>
                                    <div class="blog-readmore">
                                        <a href="{{ path('detailed_post', { 'id': eve.id }) }}" class="blog-readmore-link">
                                            <span>Read More <i class="blog-readmore-icon lnr lnr-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <!-- Pagination -->

        </div>
    </section>






{% endblock %}