{% extends 'front.html.twig' %}

{% block content %}


    <style>

        table {
            border-collapse: collapse;
            width: 100%;
        }
     th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        a1:hover {
            cursor: pointer;
        }
    </style>
    {% if erreur !=null  %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error!!!!</h4>
            <p>{{ erreur }}</p>
            <hr>
        </div>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix Unitaire</th>
                <th>Quantite</th>
                <th>Prix Totale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligneCommande in ligneCommandes %}
            <tr>
                <td>{{ ligneCommande.idproduit.nomProd}}</td>
                {% if(ligneCommande.idproduit.idoffre == null ) %}
                    <td>{{ ligneCommande.idproduit.prixProd }}</td>
                {% endif %}
                {% if(ligneCommande.idproduit.idoffre != null ) %}
                    <td>{{ ligneCommande.idproduit.prixOffre }}</td>
                {% endif %}
                <td>{{ ligneCommande.qte }}</td>
                {% if(ligneCommande.idproduit.idoffre == null ) %}
                    <td>{{ ligneCommande.idproduit.prixProd * ligneCommande.qte }}</td>
                {% endif %}
                {% if(ligneCommande.idproduit.idoffre != null ) %}
                    <td>{{ ligneCommande.idproduit.prixOffre * ligneCommande.qte }}</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produit_show', { 'id': ligneCommande.idproduit.id }) }}">Voir produit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

    <br>
    <br>
    <br>

    <table>
        <thead>
        <tr>
            <th>Service</th>
            <th>Prix</th>
            <th>Date Debut</th>
            <th>Date Fin</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ligneService in ligneServices %}
            <tr>
                <td>{{ ligneService.iduser.nom}}  {{ ligneService.iduser.prenom }}</td>
                <td>{{ ligneService.prix }}</td>
                <td>{{ ligneService.datedebut | date('Y:m:d') }}</td>
                <td>{{ ligneService.datefin | date('Y:m:d') }}</td>
                <td>{{ ligneService.iduser.role | slice(5) }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('Travail_affiche', { 'id': ligneService.iduser.id }) }}">Voir profile</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <table>
        <thead>
        <tr>
            <th>Pack</th>
            <th>Type</th>
            <th>Prix Unitaire</th>
            <th>Quantite</th>
            <th>Prix Totale</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for pack in packs %}
            <tr>
                <td>{{ pack.pack.nomPack }}</td>
                <td>{{ pack.pack.typep }}</td>
                <td>{{ pack.pack.prixp }}</td>
                <td>{{ pack.qte }}</td>
                <td>{{ pack.qte * pack.pack.prixp }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': pack.pack.id }) }}">Voir pack</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

    <ul>
        <div class="input-icon">
<center>

            {#<input type="submit" value="ajouter un autre article" class="btn btn-success" />#}
            <form action="{{ path('panier_vider') }}" method="post">
                <input type="submit" name="vider" value="Vider Panier" class="btn btn-success" />
            </form>
            <form method="post" action="{{ path('panier_valider') }}">
                <input type="submit" name="valider" value="Valider Panier" class="btn btn-success" />
            </form>
</center>
        </div>
    </ul>
{% endblock %}
