{% extends 'front.html.twig' %}

{% block content %}
    {#<h1>Mon Panier</h1>#}

    <li class="st2-li-primary">
    <li class="st2-li-primary"><a class="st2-item-link" href="">Mon Panier</a></li>
    <style>

        table {
            border-collapse: collapse;
            width: 100%;
        }
     th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        a1:hover {
            cursor: pointer;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix Unitaire</th>
                <th>Quantite</th>
                <th>Prix Totale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objetPanier in panier %}
			{% if objetPanier.type == 'produit' %}
                <tr>
                    <td>{{ objetPanier.nom}}</td>
                    <td>{{ objetPanier.prix }}</td>
                    <td>{{ objetPanier.qte }}</td>
                    <td>{{ objetPanier.prix * objetPanier.qte }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('Travail_affiche', { 'id': objetPanier.employe.id }) }}">Voir produit</a>
                            </li>
                            <li>
                                <a href="#">Supprimer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}


        </tbody>
    </table>


    <table>
        <thead>
        <tr>
            <th>Service</th>
            <th>Prix</th>
            <th>Date Debut</th>
            <th>Date Fin</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for objetPanier in panier %}
            {% if objetPanier.type == 'service' %}
                <tr>

                    <td>{{ objetPanier.nom}}</td>
                    <td>{{ objetPanier.prix }}</td>
                    <td>{{ objetPanier.dateDebut }}</td>
                    <td>{{ objetPanier.dateFin }}</td>
                    <td>{{ objetPanier.role }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('Travail_affiche', { 'id': objetPanier.employe.id }) }}">Voir profile</a>
                            </li>
                            <li>
                                <a href="#">Supprimer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}


        </tbody>
    </table>

    <ul>
        <div class="input-icon">


            <input type="submit" value="ajouter un autre article" class="btn btn-success" />
            <input type="submit" value="Vider Panier" class="btn btn-success" />
        </div>
    </ul>
{% endblock %}
