{% extends 'front.html.twig' %}

{% block content %}
    <!-- Slide -->
    <section class="slide-wrapper banner-title-header">
        <div class="slide-bg">
            <div class="overlay">
                <div class="st2-banner-content-child-page">
                    <h2 class="banner-child-page-title">Shop Products</h2>
                    <div class="back-link align-items-center">
                        <ul class="back-link-breadcrumb">
                            <li class="breadcrumb-items"><a class="breadcrumb-item-link" href="">Home</a></li>
                            <li class="breadcrumb-items"><a class="breadcrumb-item-link" href="">Shop Products</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Shop Page Full Width -->
    <div class="shoppage-fullwidth">
        <div class="shoppage-fullwidth-box padding-section">
            <div class="container">
                <div class="shoppage-fullwidth-wrapper">
                    <div class="shoppage-fullwidth-action">
                        <div class="row">
                            <div class="col-t-7 col-xl-6 col-lg-6 col-md-6">
                                <div class="filter-left">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 d-none-19">
                                            <div class="filter-left-showing">
                                                <p class="filter-left-showing-text mb-0">Showing 1–16 of 25 results</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-19px-12 d-none-67px">
                                            <div class="filter-left-price">
                                                <div class="filter-left-price-name">Price</div>
                                                <form class="filter-left-price-range">
                                                    <div data-role="rangeslider">
                                                        <input type="text" class="js-range-slider" name="my_range" value="" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-t-5 col-xl-6 col-lg-6 col-md-6">
                                <div class="filter-right">
                                    <ul class="filter-right-list mb-0">
                                        <li class="filter-right-item">
                                            <div class="filter-right-dropdow">
                                                <button class="btn btn-link filter-dropdow-btn" type="button" id="filter-cate" data-toggle="dropdown">Categories
                                                    <span class="dropdow-filter-icon lnr lnr-chevron-down"></span>
                                                </button>
                                                <ul class="dropdown-menu filter-dropdow-list" role="menu" aria-labelledby="filter-cate">
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index') }}">ALL</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS POUR PETIT BASSIN'}) }}">PACKS POUR PETIT BASSIN</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS POUR PLUS GRAND BASSIN'}) }}">PACKS POUR PLUS GRAND BASSIN</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS POUR OMBRE OU MI-OMBRE'}) }}">PACKS POUR OMBRE OU MI-OMBRE</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS DE BORDURE'}) }}">PACKS DE BORDURE</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS DE PHYTO-ÉPURATION'}) }}">PACKS DE PHYTO-ÉPURATION</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="filter-right-item d-none-19">
                                            <div class="filter-right-show">
                                                <span class="filter-right-show-text">Show:</span>
                                                <ul class="filter-right-show-list">
                                                    <li class="filter-right-show-item"><a class="filter-right-show-link" href="">2</a></li>
                                                    <li class="filter-right-show-item"><a class="filter-right-show-link" href="">4</a></li>
                                                    <li class="filter-right-show-item"><a class="filter-right-show-link" href="">6</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="filter-right-item">
                                            <div class="filter-right-dropdow">
                                                <button class="btn btn-link filter-dropdow-btn" type="button" id="filter-sortby" data-toggle="dropdown">Sort By
                                                    <span class="dropdow-filter-icon lnr lnr-chevron-down"></span>
                                                </button>
                                                <ul class="dropdown-menu filter-dropdow-list" role="menu" aria-labelledby="filter-sortby">
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="#">Best Selling</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="#">A-Z</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="#">Price: low</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="#">Price: high</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="filter-right-item d-none-67px">
                                            <div class="filter-right-girdlist">
                                                <div class="girdlist-icons" id="multiLayout">
                                                    <a href="javascript:void(0)" class="view-icon grid grid-js actived"><span class="icon ti-layout-grid4-alt"></span></a>
                                                    <a href="javascript:void(0)" class="view-icon list list-js"><span class="icon ti-menu-alt"></span></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Shop Page Full Width -->
    <section class="popular-product product-shoppage-fullwidth padding-section">
        <div class="container">
            <div class="row">
                {% for packDecoration in packDecorations %}
                <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 col-12 layout">
                    <div class="box-item box-item-list-shoppage">
                        <div class="box-item-image">
                            <a href="{{ path('_show', { 'id': packDecoration.id }) }}"><img src="{{ asset('uploads/packs/')}}{{ packDecoration.imagePack }}" alt="Deal of the week"></a>
                        </div>
                        <div class="box-item-info">
                            <a href="{{ path('_show', { 'id': packDecoration.id }) }}"><h3 class="item-name m-bottom-0">{{ packDecoration.nomPack }}</h3></a>
                            <div class="item-price-rate">
                                <div class="item-price">
                                    <span class="cost">{{ packDecoration.prixp/0.8 }}</span>
                                    <span class="sale">{{ packDecoration.prixp }}</span>
                                </div>
                                <div class="item-rating">
                      <span class="rating-badge">
                        <span class="badge-starrating">
                          <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                          <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                          <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                          <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                          <i class="star-icon star-icon-color2 lnr lnr-star"></i>
                        </span>
                      </span>
                                </div>
                            </div>
                            <p class="m-bottom-0 list-shoppage-des d-none-list-shoppage">
                               <h4 style="animation: both"> PACK DESCRIPTION:</h4> {{ packDecoration.descriptionPack }}
                            </p>
                            <div class="list-shoppage-btn-loop-action d-none-list-shoppage">
                                <ul class="loop-action m-bottom-0">

                                    <li class="item-action add-to-cart">
                                        <a class="action-link action-link-addcart" href="javascript:void(0);">Add to cart</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="list-shoppage-share d-none-list-shoppage">
                                <span class="social-text">Share:</span>
                                <div class="list-shoppage-socials">
                                    <a href="" class="list-shoppage-icon"><i class="ti-facebook"></i></a>
                                    <a href="" class="list-shoppage-icon"><i class="ti-twitter-alt"></i></a>
                                    <a href="" class="list-shoppage-icon"><i class="ti-pinterest"></i></a>
                                    <a href="" class="list-shoppage-icon"><i class="ti-youtube"></i></a>
                                    <a href="" class="list-shoppage-icon"><i class="ti-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="button-loop-action list-shoppage-hide">
                            <ul class="loop-action">
                                <li class="item-action review">
                                    <a class="action-link" href="javascript:void(0);"><i class="icon ti-eye"></i></a>
                                </li>
                                <li class="item-action wishlist">
                                    <a class="action-link" href="javascript:void(0);"><i class="icon lnr lnr-heart"></i></a>
                                </li>
                                <li class="item-action add-to-card">
                                    <a class="action-link" href="javascript:void(0);"><i class="icon icon-ecommerce-basket"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="blog-new-pagination">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center blog-new-pagination-wrapper">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item page-item-blogn"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item page-item-blogn"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item page-item-blogn">
                                        <a class="page-link" href="#"><span class="lnr lnr-chevron-right"></span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
