{% extends 'front.html.twig' %}

{% block content %}
   {# <h1>Packdecoration</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ packDecoration.id }}</td>
            </tr>
            <tr>
                <th>Nompack</th>
                <td>{{ packDecoration.nomPack }}</td>
            </tr>
            <tr>
                <th>Typep</th>
                <td>{{ packDecoration.typep }}</td>
            </tr>
            <tr>
                <th>Descriptionpack</th>
                <td>{{ packDecoration.descriptionPack }}</td>
            </tr>
            <tr>
                <th>Prixp</th>
                <td>{{ packDecoration.prixp }}</td>
            </tr>
            <tr>
                <th>Imagepack</th>
                <td>{{ packDecoration.imagePack }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_index') }}">Back to the list</a>
        </li>
    </ul>
    #}
    <!-- Slide -->
    <section class="slide-wrapper banner-title-header">
        <div class="slide-bg">
            <div class="overlay">
                <div class="st2-banner-content-child-page">
                    <h2 class="banner-child-page-title">Shop Products</h2>
                    <div class="back-link align-items-center">
                        <ul class="back-link-breadcrumb">
                            <li class="breadcrumb-items"><a class="breadcrumb-item-link" href="">Home</a></li>
                            <li class="breadcrumb-items"><a class="breadcrumb-item-link" href="">Shop Products</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PRODUCT DETAIL V3 -->
    <section class="product-detail-v1 padding-section">
        <div class="container">
            <div class="product-detail-v1-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-detail-v3-image">
                            <div class="product-detail-v3-order">
                                <div class="order2-prodetail-v3 custom-col-md-10-prod">
                                    <div class="slider slider-single">
                                        <div class="box-item-image">
                                            <a href="{{ path('_show', { 'id': packDecoration.id }) }}"><img src="{{ asset('uploads/packs/')}}{{ packDecoration.imagePack }}" alt="Deal of the week"></a>
                                        </div>
                                        <div class="product-detail-v3-image">
                                            <img src="images/product-detail/product-3.png" alt="Product" class="img-fluid">
                                        </div>
                                        <div class="product-detail-v3-image">
                                            <img src="images/product-detail/product-2.png" alt="Product" class="img-fluid">
                                        </div>
                                        <div class="product-detail-v3-image">
                                            <img src="images/product-detail/product-1.png" alt="Product" class="img-fluid">
                                        </div>
                                        <div class="product-detail-v3-image">
                                            <img src="images/product-detail/product-4.png" alt="Product" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="order1-prodetail-v3 custom-col-md-2-prod">
                                    <div class="slider slider-nav">
                                        <div class="box-item-image">
                                            <a><img src="{{ asset('uploads/packs/')}}{{ packDecoration.imagePack }}" alt="Deal of the week"></a>
                                        </div>
                                        <div class="box-item-image">
                                            <a ><img src="{{ asset('uploads/packs/')}}{{ packDecoration.imagePack }}" alt="Deal of the week"></a>
                                        </div>
                                        <div class="box-item-image">
                                            <a ><img src="{{ asset('uploads/packs/')}}{{ packDecoration.imagePack }}" alt="Deal of the week"></a>
                                        </div>
                                        <div class="box-item-image">
                                            <a ><img src="{{ asset('uploads/packs/')}}{{ packDecoration.imagePack }}" alt="Deal of the week"></a>
                                        </div>
                                        <div class="box-item-image">
                                            <a ><img src="{{ asset('uploads/packs/')}}{{ packDecoration.imagePack }}" alt="Deal of the week"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-detail-v1-info pro-detail-v2-pt">
                                    <h1 class="product-detail-v1-title mb-0">{{ packDecoration.typep }}</h1>
                                    <div class="product-detail-v1-meta">
                                        <div class="product-detail-v1-price">
                                            <div class="cost">{{ packDecoration.prixp/0.8 }}</div>
                                            <div class="sale">{{ packDecoration.prixp }}</div>
                                        </div>
                                        <div class="product-detail-v1-rating">
                                            <div class="badge-starrating">
                                                <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                                                <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                                                <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                                                <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                                                <i class="star-icon star-icon-color2 lnr lnr-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mb-0">
                                        {{ packDecoration.descriptionPack }}
                                    </p>
                                    <div class="product-detail-v1-action">
                                        <form method="post" action="{{ path('panier_addpack') }}">
                                            <div class="quanlity">
                                                <button type="button" class="subtraction" onclick="$('#qtep').val(function(i,v) {
                                                            if(v == 1) return 1 ;
                                                            return  v-1;
                                                        })">-</button>
                                                <input name="qte" id="qtep" type="text" class="quanlity-num" pattern="[0-9]*" value="1" min="1">
                                                <button type="button" class="addition" onclick="$('#qtep').val(parseInt($('#qtep').val()) +1 )">+</button>
                                            </div>
                                            <div class="add-product">
                                                <button name="addpack" type="submit" class="btn-addproduct">Add to cart</button>
                                            </div>
                                            <input type="number" name="idpack" hidden value="{{ packDecoration.id }}">
                                            <button class="btn-addwhlist">
                                                <span class="lnr lnr-heart"></span>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="product-detail-v1-attr">
                                        <p class="mb-0"><span >SKU:</span> PD 031</p>
                                        <p class="mb-0"><span>Categorie:</span> {{packDecoration.typep}}</p>
                                        <p class="mb-0"><span>Tags:</span> Cactus, Flower, Indoor.</p>
                                    </div>
                                    <div class="product-detail-v1-share">
                                        <span class="social-text">Share:</span>
                                        <div class="product-detail-v1-socials">
                                            <a href="" class="product-detail-v1-icon"><i class="ti-facebook"></i></a>
                                            <a href="" class="product-detail-v1-icon"><i class="ti-twitter-alt"></i></a>
                                            <a href="" class="product-detail-v1-icon"><i class="ti-pinterest"></i></a>
                                            <a href="" class="product-detail-v1-icon"><i class="ti-youtube"></i></a>
                                            <a href="" class="product-detail-v1-icon"><i class="ti-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-detail-tabs-content pro-dt-tab-content-pt">
                            <nav>
                                <div class="nav nav-fill product-detail-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                                    <a class="product-detail-tabs-item active" id="nav-home-tab" data-toggle="tab" href="#pro-detail-Description" role="tab" aria-controls="pro-detail-Description" aria-selected="true">Description</a>
                                    <a class="product-detail-tabs-item" id="nav-profile-tab" data-toggle="tab" href="#pro-detail-Additionalinfo" role="tab" aria-controls="pro-detail-Additionalinfo" aria-selected="false">Additional info</a>
                                    <a class="product-detail-tabs-item" id="nav-contact-tab" data-toggle="tab" href="#pro-detail-Reviews" role="tab" aria-controls="pro-detail-Reviews" aria-selected="false">Reviews(2)</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="pro-detail-Description" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <p >
                                        {{ packDecoration.descriptionPack }}
                                    </p>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/product-detail/4.jpg" alt="" style="min-height: 344px;" class="mb-pb30">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="images/product-detail/1.jpg" alt="" class="mb-pb30">
                                        </div>
                                        <div class="col-md-3">
                                            <img src="images/product-detail/2.jpg" alt="" style="padding-bottom: 30px;">
                                            <img src="images/product-detail/3.jpg" alt="" class="mb-pb30">
                                        </div>
                                    </div>
                                    <br>
                                    <p>
                                        {{ packDecoration.descriptionPack }}
                                    </p>

                                </div>
                                <div class="tab-pane fade" id="pro-detail-Additionalinfo" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    Il s’agit de cultures qui ne constituent pas les cultures vivrières ou de rente, ordinaires,
                                    du paysan moyen mais qui peuvent lui rapporter un bon rendement car elles sont
                                    hautement spécialisées et il existe pour celles ci un marché spécifique. Elles peuvent
                                    aussi offrir une solution de rechange aux exportations de produits de base dont les
                                    cours sont en baisse. Ces cultures peuvent être cultivées pour l’exportation avec l’aide
                                    d’une organisation qui a une antenne à l’étranger ou simplement il s’agira d’un
                                    paysan ou d’un entrepreneur qui a trouvé un « créneau » que personne d’autre n’avait
                                    trouvé avant ou dont peu de personnes s’occupent.
                                </div>
                                <div class="tab-pane fade" id="pro-detail-Reviews" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    Ces cultures sont très nombreuses et couvrent des domaines très variés. On peut citer
                                    les fleurs, soit pour la vente de fleurs coupées soit pour l’industrie des parfums, les
                                    plantes utilisées dans l’industrie cosmétique comme le karité par exemple, les épices
                                    et aromates en tout genre, les légumes et fruits qui peuvent être exportés vers l’Europe
                                    hors saison comme le haricot vert ou les fraises, certains produits forestiers non
                                    ligneux comme les plantes comestibles (feuilles, écorces, sève, fruits, champignons),
                                    le miel et même certaines parties d'animaux, utilisées pour l'ornementation et la
                                    médecine traditionnelle ou encore les huiles essentielles pour l’industrie alimentaire
                                    ou pour l’industrie de la parfumerie.

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# related #}
    <!-- Related Products -->
    <section class="deal-of-the-week product-detail-v1-related padding-section">
        <div class="container">
            <div class="row">
                <div class="deal-of-the-week-title box-title">
                    <h2 class="dotw-title des-title">Related Products</h2>
                </div>
            </div>
            <div class="row deal-of-the-week-inner">
                <div class="active-pro-relerate col-md-12">

                    {% for pack in packs %}
                        <div class="">
                            <div class="dotw-item box-item">
                                <div class="dotw-item-image box-item-image">
                                    <a href="{{ path('_show',{'id':pack.id}) }}"><img src="{{ asset('uploads/packs/')}}{{ pack.imagePack }}" alt="Deal of the week"></a>
                                </div>
                                <div class="dotw-item-info box-item-info">
                                    <h3 class=""><a href="" class="dotw-item-name item-name">Polyscias Fabian</a></h3>
                                    <div class="dotw-price-rate item-price-rate">
                                        <div class="dotw-price item-price">
                                            <span class="cost">{{ packDecoration.prixp / 0.8}}</span>
                                            <span class="sale">{{ packDecoration.prixp}}</span>
                                        </div>
                                        <div class="item-rating">
                            <span class="rating-badge">
                              <span class="badge-starrating">
                                <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                                <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                                <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                                <i class="star-icon star-icon-color1 lnr lnr-star"></i>
                                <i class="star-icon star-icon-color2 lnr lnr-star"></i>
                              </span>
                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer">
                                    <div class="label">TOP VENTE</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
