{% extends 'back.html.twig' %}

{% block content %}
    {# <h1>Listetravail creation</h1>

     {{ form_start(form) }}
         {{ form_widget(form) }}
         <input type="submit" value="Create" />
     {{ form_end(form) }}

     <ul>
         <li>
             <a href="{{ path('listetravail_index') }}">Back to the list</a>
         </li>
     </ul>#}
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-wizard-v4" id="kt_apps_user_add_user" data-ktwizard-state="step-first">
            <div class="kt-portlet">
                <div class="kt-portlet__body kt-portlet__body--fit">
                    <div class="kt-grid">
                        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">

                            <!--begin: Form Wizard Form-->
                            <form class="kt-form" id="kt_apps_user_add_user_form"  method="post" action="{{ path('listetravailpaysagiste_new') }}" enctype="multipart/form-data">

                                <!--begin: Form Wizard Step 1-->
                                <div class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                    <div class="kt-heading kt-heading--md">User's Profile Details:</div>
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-wizard-v4__form">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="kt-section__body">
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="kt-avatar kt-avatar--outline kt-avatar--rectangle" id="kt_apps_user_add_avatar">
                                                                    <div class="text-center">
                                                                        <img id="imgAvatar1"  src="{{ asset('uploads/travail/'~im) }}" class="rounded" alt="...">
                                                                    </div>
                                                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">

                                                                        <i class="fa fa-pen"></i>
                                                                        <input id="avatar" type="file" name="kt_apps_user_add_user_avatar">
                                                                    </label>
                                                                    <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
																							<i class="fa fa-times"></i>
																						</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-2 col-lg-2 col-form-label">description</label>
                                                            <div class="col-lg-8 col-xl-8">
                                                                <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-2 col-lg-2 col-form-label">Date:</label>
                                                            <div class="col-lg-8 col-xl-8">

                                                                <input name="date" type="text"  class="form-control" id="datepicker">

                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-9 col-xl-9">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-9 col-xl-9">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-9 col-xl-9">
                                                                <div class="input-group">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group form-group-last row">
                                                            <div class="col-lg-9 col-xl-9">
                                                                <div class="input-group">
                                                                    <div class="input-group-append"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--begin: Form Actions -->
                                <div class="kt-form__actions">

                                    <div class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" >

                                        <input type="submit" name="ajouter" href="#" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" value="Ajouter" id="btnajout">

                                    </div>
                                </div>

                                <!--end: Form Actions -->
                            </form>

                            <!--end: Form Wizard Form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content -->
{% endblock %}
{% block js %}
    <script>

        $( "#avatar" ).change(function( handler ) {
            let data = new FormData();
            data.append('profile_avatar',$('#avatar')[0].files[0]);//
            $.ajax({
                url: "{{ path('listetravailpaysagiste_new') }}",//pour envoyer les donner a controlle
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST', // For jQuery < 1.9
                success: function(data){
                    $("#imgAvatar1").attr("src","{{ asset('uploads/travail/') }}"+data);
                }
            });
        });

    </script>
{% endblock %}
