{% extends 'back.html.twig' %}

{#{% block body %}
    <h1>Listetravail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ listeTravail.id }}</td>
            </tr>
            <tr>
                <th>Descriptiontravail</th>
                <td>{{ listeTravail.descriptionTravail }}</td>
            </tr>
            <tr>
                <th>Datetravail</th>
                <td>{{ listeTravail.dateTravail }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ listeTravail.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('listetravail_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('listetravail_edit', { 'id': listeTravail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
#}
{% block content %}
{% for travail in liste %}

<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-3">

            <!--Begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head kt-portlet__head--noborder">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="#" class="btn btn-icon" data-toggle="dropdown">
                            <i class="flaticon-more-1 kt-font-brand"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="kt-nav">
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-line-chart"></i>
                                        <span class="kt-nav__link-text">Reports</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-send"></i>
                                        <span class="kt-nav__link-text">Messages</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
                                        <span class="kt-nav__link-text">Charts</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-avatar"></i>
                                        <span class="kt-nav__link-text">Members</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-settings"></i>
                                        <span class="kt-nav__link-text">Settings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <!--begin::Widget -->
                    <div class="kt-widget kt-widget--user-profile-2">
                        <div class="kt-widget__head">
                            <div class="kt-widget__media">
                                <img class="kt-widget__img kt-hidden-" src="{{ asset('uploads/travail/'~travail.image) }}" alt="image">
                                <div class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest kt-hidden">
                                    ChS
                                </div>
                            </div>
                            <div class="kt-widget__info">
                                <a href="#" class="kt-widget__username">
                                </a>
                                <span class="kt-widget__desc">
														</span>
                            </div>
                        </div>
                        <div class="kt-widget__body">
                            <div class="kt-widget__section">
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">description:</span>
                                    <span class="kt-widget__label">desciption place
                                    </span>

                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Date</span>
                                    <a href="#" class="kt-widget__data">Date place</a>
                                </div>

                            </div>
                        </div>
                        <div class="kt-widget__footer">
                            <a href="{{ path('listetravail_delete',{id:travail.id})}}">   <button type="button" class="btn btn-label-warning btn-lg btn-upper">delete</button></a>
                            <a href="{{ path('listetravail_edit',{id:travail.id})}}">   <button type="button" class="btn btn-label-warning btn-lg btn-upper">Modifier</button></a>

                        </div>
                    </div>

                    <!--end::Widget -->
                </div>
            </div>

            <!--End::Portlet-->

    </div>

    <!--End::Section-->
      
        {% endfor %}
{% endblock %}
