{% extends 'back.html.twig' %}

{% block content %}
    <h1 align="center" >Liste packs de décorations</h1>

    <table border="1" class="table table-light">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom pack</th>
                <th>Type pack</th>
                <th>Description pack</th>
                <th>Prix </th>
                <th>Image pack</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for packDecoration in packDecorations %}
            <tr>
                <td><a href="{{ path('back_paysagiste_show', { 'id': packDecoration.id }) }}">{{ packDecoration.id }}</a></td>
                <td>{{ packDecoration.nomPack }}</td>
                <td>{{ packDecoration.typep }}</td>
                <td>{{ packDecoration.descriptionPack }}</td>
                <td>{{ packDecoration.prixp }}</td>
                <td><img src="{{ asset('uploads/packs/') }}{{ packDecoration.imagePack }}" width="100px"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('back_paysagiste_show', { 'id': packDecoration.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('back_paysagiste_edit', { 'id': packDecoration.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('back_paysagiste_new') }}" class="btn btn-success btn-wide">Creér  nouveau Pack de décoration</a>

{% endblock %}
