{% extends 'front.html.twig' %}

{% block css %}
    <link href='{{ asset('fullcalendar/packages/core/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('fullcalendar/packages/daygrid/main.css') }}' rel='stylesheet' />
{% endblock %}

{% block content %}

    <div id='calendar'></div>


    <div id="submitModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="submitForm" action="{{ path('reserver_jardinier', {'id': idE}) }}" method="post">
                        <div class="form-group">
                            <label for="dateDebut">Date Debut</label>
                            <select class="form-control" id="dateDebut" name="dateDebut">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dateFin">Date Fin</label>
                            <select class="form-control" id="dateFin" name="dateFin">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$('#submitForm').submit()">Réservé</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src='{{ asset('fullcalendar/packages/core/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/packages/daygrid/main.js') }}'></script>
    <script src='{{ asset('fullcalendar/packages/interaction/main.js') }}'></script>
    <script>

        let calendar;
        let elList = [] ;
        let events = [
            {% for service in services %}
            {
                title: 'réservé',
                start: new Date('{{ service.datedebut|date("Y-m-d") }}T00:00:00'),
                description: 'Lorem ipsum dolor sit incid idunt ut',
                end: new Date('{{ service.datefin|date("Y-m-d") }}T12:00:00'),
                className: "fc-event-danger fc-event-solid-warning"
            },
            {% endfor %}
        ];
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'dayGrid','interaction' ],
                timeFormat: ' ',
                events: events,
                dayRender: function(day){
                    let date = new Date(day.date) ;
                    //console.log(day.el);
                    elList.push(day.el);
                    $.each(events,function (k,v) {
                        if(date >= v.start && date <= v.end) {
                            $(day.el).addClass('disabled');
                            $(day.el).css('backgroundColor','gray');
                        }
                    });
                },
                dateClick: function(info) {
                    if($(info.dayEl).hasClass('disabled')) alert("3asba");
                    else {
                        let dateRange = [$(info.dayEl).attr('data-date')] ;
                        //console.log(info.view);
                        //console.log(info.dayEl);
                        let start = elList.indexOf(info.dayEl);
                        let end = start ;
                        while ($(elList[end+1]).hasClass('disabled') === false && end < start+7){
                            end++ ;
                            dateRange.push($(elList[end]).attr('data-date'));
                        }
                        //console.log(elList[start]);
                        //console.log(elList[end]);
                        //console.log(dateRange);
                        $('#dateDebut').empty();
                        $('#dateFin').empty();
                        $('#dateDebut').append('<option value="'+$(elList[start]).attr('data-date')+'">'+$(elList[start]).attr('data-date')+'</option>');
                        for(i = start;i<=end;i++) {
                            $('#dateFin').append('<option value="'+$(elList[i]).attr('data-date')+'">'+$(elList[i]).attr('data-date')+'</option>');
                        }
                        $('#submitModal').modal('show');
                    }
                }
            });

            calendar.render();
        });

    </script>
{% endblock %}