{% extends 'front.html.twig' %}

{% block content %}



    <!-- Slide -->
    <section class="slide-wrapper banner-title-header">
        <div class="slide-bg">
            <div class="overlay">
                <div class="st2-banner-content-child-page">
                    <h2 class="banner-child-page-title">Geste Du Mois</h2>
                    <div class="back-link align-items-center">
                        <ul class="back-link-breadcrumb">
                            <li class="breadcrumb-items"><a class="breadcrumb-item-link" href="">Home</a></li>
                            <li class="breadcrumb-items"><a class="breadcrumb-item-link" href="">Shop Products</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Shop Page Full Width -->
    <div class="shoppage-fullwidth">
        <div class="shoppage-fullwidth-box padding-section">
            <div class="container">
                <div class="shoppage-fullwidth-wrapper">
                    <div class="shoppage-fullwidth-action">
                        <div class="row">
                            <div class="col-t-7 col-xl-6 col-lg-6 col-md-6">
                                <div class="filter-left">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 d-none-19">
                                            <div class="filter-left-showing">
                                                <p class="filter-left-showing-text mb-0">Showing 1–16 of 25 results</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-19px-12 d-none-67px">
                                            <div class="filter-left-price">
                                                <div class="filter-left-price-name">Price</div>
                                                <form class="filter-left-price-range">
                                                    <div data-role="rangeslider">
                                                        <input type="text" class="js-range-slider" name="my_range" value="" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-t-5 col-xl-6 col-lg-6 col-md-6">
                                <div class="filter-right">
                                    <ul class="filter-right-list mb-0">
                                        <li class="filter-right-item">
                                            <div class="filter-right-dropdow">
                                                <button class="btn btn-link filter-dropdow-btn" type="button" id="filter-cate" data-toggle="dropdown">Categories
                                                    <span class="dropdow-filter-icon lnr lnr-chevron-down"></span>
                                                </button>
                                                <ul class="dropdown-menu filter-dropdow-list" role="menu" aria-labelledby="filter-cate">
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index') }}">ALL</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS POUR PETIT BASSIN'}) }}">PACKS POUR PETIT BASSIN</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS POUR PLUS GRAND BASSIN'}) }}">PACKS POUR PLUS GRAND BASSIN</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS POUR OMBRE OU MI-OMBRE'}) }}">PACKS POUR OMBRE OU MI-OMBRE</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS DE BORDURE'}) }}">PACKS DE BORDURE</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="{{ path('_index',{'cat':'PACKS DE PHYTO-ÉPURATION'}) }}">PACKS DE PHYTO-ÉPURATION</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="filter-right-item d-none-19">
                                            <div class="filter-right-show">
                                                <span class="filter-right-show-text">Show:</span>
                                                <ul class="filter-right-show-list">
                                                    <li class="filter-right-show-item"><a class="filter-right-show-link" href="">2</a></li>
                                                    <li class="filter-right-show-item"><a class="filter-right-show-link" href="">4</a></li>
                                                    <li class="filter-right-show-item"><a class="filter-right-show-link" href="">6</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="filter-right-item">
                                            <div class="filter-right-dropdow">
                                                <button class="btn btn-link filter-dropdow-btn" type="button" id="filter-sortby" data-toggle="dropdown">Sort By
                                                    <span class="dropdow-filter-icon lnr lnr-chevron-down"></span>
                                                </button>
                                                <ul class="dropdown-menu filter-dropdow-list" role="menu" aria-labelledby="filter-sortby">
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="#">Best Selling</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="#">A-Z</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="#">Price: low</a>
                                                    </li>
                                                    <li role="presentation" class="filter-dropdow-item">
                                                        <a role="menuitem" tabindex="-1" href="#">Price: high</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="filter-right-item d-none-67px">
                                            <div class="filter-right-girdlist">
                                                <div class="girdlist-icons" id="multiLayout">
                                                    <a href="javascript:void(0)" class="view-icon grid grid-js actived"><span class="icon ti-layout-grid4-alt"></span></a>
                                                    <a href="javascript:void(0)" class="view-icon list list-js"><span class="icon ti-menu-alt"></span></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Shop Page Full Width -->
    <section class="popular-product product-shoppage-fullwidth padding-section">
        <div class="container">
            <div class="row">
                {% for gesteDuMois in gesteDuMoiss %}
                    <div class="card col-xl-3 col-md-6 col-lg-4 col-sm-6 col-12 layout" style="margin: 15px">
                        <a href="{{ path('front_show', { 'id': gesteDuMois.id }) }}" ><img src="{{ asset('uploads/gestes/') }}{{ gesteDuMois.imageGeste }}"></a>
                        <div class="card-body">
                            <h5 class="card-title" align="center">Mois De {{ gesteDuMois.moisGeste }}</h5>
                            <p class="card-text">{{ gesteDuMois.descGeste }}</p>
                            <a href="{{ path('front_show', { 'id': gesteDuMois.id }) }}" class="btn btn-primary" align="center">Lire Plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="blog-new-pagination">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center blog-new-pagination-wrapper">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item page-item-blogn"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item page-item-blogn"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item page-item-blogn">
                                        <a class="page-link" href="#"><span class="lnr lnr-chevron-right"></span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
