{% extends 'back.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h1>Packdecoration creation</h1>

        {{ form_start(form,{'attr':{'id':'formp'}}) }}
        <div class="form-group">
            <label for="exampleInputEmail1">Nom</label>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control','aria-describedby':'nom','placeholder':'Enter nom'}}) }}
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Date Debut</label>
            {{ form_widget(form.datedebut, {'attr': {'class': 'form-control','aria-describedby':'type','placeholder':'choisir type'}}) }}
        </div>



    <div class="form-group">
        <label for="exampleInputPassword1">Date Fin</label>
        {{ form_widget(form.datefin, {'attr': {'class': 'form-control','aria-describedby':'type','placeholder':'choisir type'}}) }}
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Lieu</label>
        {{ form_widget(form.lieu, {'attr': {'class': 'form-control','aria-describedby':'description','placeholder':'Entrer description'}}) }}
    </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            {{ form_widget(form.description, {'attr': {'class': 'form-control','aria-describedby':'description','placeholder':'Entrer description'}}) }}
        </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Nombre de Participants</label>
        {{ form_widget(form.nbrParticipants, {'attr': {'class': 'form-control','aria-describedby':'description','placeholder':'Entrer description'}}) }}
    </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Prix</label>
            {{ form_widget(form.eveprix, {'attr': {'class': 'form-control','aria-describedby':'prix','placeholder':'Entrer prix'}}) }}
        </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Prix Offre</label>
        {{ form_widget(form.prixOffre, {'attr': {'class': 'form-control','aria-describedby':'prix','placeholder':'Entrer prix'}}) }}
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1"> Offre</label>
        {{ form_widget(form.idoffre, {'attr': {'class': 'form-control','aria-describedby':'prix','placeholder':'Entrer prix'}}) }}
    </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Image</label>
            {{ form_widget(form.image, {'attr': {'class': 'form-control','aria-describedby':'image','placeholder':'Choisir image'}}) }}
        </div>
        <input class="btn btn-sm btn-primary" id="submitBtn" type="submit" value="Create" class="btn btn-primary">Submit</input>
{{ form_end(form) }}
{% endblock %}